.moviecard {
  color: #000;
  background-color: #bfb161;
  margin-top: 10rem;
  overflow: hidden;
  height: 40rem;
  display: inline-block;
}

.linktext {
  color: #bc0a0f !important;
}

.linktext:hover {
  color: #000 !important;
}
