.myFlix {
  color: #bfb161;
  font-size: 5rem;
  margin: 1.8rem;
}

.myFlix:hover {
  color: #000;
}

// .main-view {
//   display: flex;
//   justify-content: center;
// }

.main-row {
  display: flex;
  justify-content: space-between;
}

.main-buttons {
  color: #bfb161;
  white-space: nowrap;
  margin: 1rem;
}
