.desc-text {
  color: #bfb161 !important;
}

@media (min-width: 480px) {
  .registration-form {
    width: 19rem;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .registration-form {
    width: 100%;
  }
}
