{
  "extends": ["eslint:recommended"],
  "rules": {
    "quotes": ["error", "single"],
    "indent": ["error", 2]
  },
  "globals": {
    "export": "readonly",
    "document": "readonly",
    "window": "readonly", 
    "import": "readonly", 
    "console": "readonly",
    "WebSocket": "readonly",
    "location": "readonly",
    "Reflect": "readonly",
    "Symbol": "readonly",
    "setTimeout": "readonly",
    "onClick": "readonly",
    "clearTimeout": "readonly",
    "btoa": "readonly",
    "XMLHttpRequest": "readonly",
    "Promise": "readonly",
    "navigator": "readonly",
    "URLSearchParams":"readonly",
    "ArrayBuffer": "readonly",
    "FormData": "readonly",
    "Set": "readonly",
    "Map": "readonly",
    "WeakSet": "readonly",
    "Int32Array": "readonly",
    "SharedArrayBuffer": "readonly",
    "WeakMap": "readonly",
    "parcelRequire": "readonly",
    "module": "readonly",
    "define": "readonly",
    "toString": "readonly"
  }
}
