.profile-btn {
  margin-right: 1rem;
}

.main-container {
  display: flex;
  justify-content: center;
}

.form-container {
  width: 30%;
}

@media (max-width: 580px) {
  .form-container {
    width: 100%;
  }
}
