@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");

:root {
  --background-color: #bc0a0f; // Freesia
  --btn-color: ##efc081; // Scarlet
  --deco-color: #af9f30; // Gold (e.g. for borders)
  --font-color: #efeee9;
  --font-color-alt: #000; // White
}

body {
  font-family: "Playfair Display", serif;
  color: var(--font-color);
  background: var(--background-color);
}
